<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>ISBN</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @books.each do |book| %>
    <tbody>
      <tr>
        <% cache book, expires_in: expires_cache_time do %>
          <td><%= book.name %></td>
          <td><%= book.isbn %></td>
        <% end %>
        <%= render partial: 'links', locals: { book: book } %>
      </tr>
    </tbody>
  <% end %>
</table>

<%= will_paginate @books, renderer: BootstrapPagination::Rails %>
