<h2><%= @books.size %> books revised</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>ISBN</th>
      <th><th>
    </tr>
  </thead>

  <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to 'Cancel reservation', "#" %></td>
      </tr>
    </tbody>
  <% end %>
</table>
